# Difference Between Python 2 And python 3

In [12]:
# Print

# In python 2
# print 'hello'

# In python 3
print('Hello',end=' ')
print('Name')
print('hi')

Hello Name
hi

In [9]:
# /

# python 2
# print(12/5)

# Output: 2

#python 3
print("12/5:",12/5)
print("12//5",12//5)

12/5: 2.4
12//5 2

In [ ]:
# range

# python 2
# xrange(start_index,end_index)

# python 3
range(start_index,end_index)

In [10]:
print(name)

NameError: name 'name' is not defined

In [11]:
# error Handling

# python 2
"""try:
    print(name)
except NameError, err:
    print(err)
"""
#python 3
try:
    print(name)
except NameError as err:
    print(err)

name 'name' is not defined

# Variables

In [1]:
var = 12
print(type(var))

<class 'int'>

In [2]:
var1 = 12.56
print(type(var1))

<class 'float'>

In [1]:
var = 12
print(type(var))
var = 'hello'
print(type(var))

<class 'int'>
<class 'str'>

In [78]:
var = "string"
var1 = 'string2'

In [79]:
print(type(var))
print(type(var1))

<class 'str'>
<class 'str'>

In [13]:
sent = "This is a example of a string"
sentnum = '0123456789'
# slicing

# var = sent[0:8]
# var = sent[:5]
# var = sentnum[:8:3]
# var = sent[-1::-1]
# var = sent[8::1]
print(var)

a example of a string

In [23]:
# character picking
# char = sent[6]
char = sent[-1]
# char = sentnum[6]
print(char)


# Concatenation

sent2 = ' and this is the second statement'
sent3 = sent + sent2
print(sent3)

# split function

splitt = sent3.split('i')
# splitt = sent3.split()
print(splitt)

g
This is a example of a string and this is the second statement
['Th', 's ', 's a example of a str', 'ng and th', 's ', 's the second statement']

# List

In [25]:
lists = list()
print(type(lists))
print(lists)

<class 'list'>
[]

In [26]:
lists1 = [12,65,98,23,90,'abc',"qwe",True]

print(lists1)
print(lists1[3])
print(lists1[3:6])

[12, 65, 98, 23, 90, 'abc', 'qwe', True]
23
[23, 90, 'abc']

In [27]:
lists2 = [[12,6,9,23,65],[12,54,66,23],lists1]
print(lists2)
print(lists2[2])
# lists3 = 
# print("Lists3:",lists3)
print(lists2[2][7])

[[12, 6, 9, 23, 65], [12, 54, 66, 23], [12, 65, 98, 23, 90, 'abc', 'qwe', True]]
[12, 65, 98, 23, 90, 'abc', 'qwe', True]
True

In [35]:
# lists[0]= 12 #This will give indexerror
# append the values
lists.append(19)
print(lists)
# print(len(lists))

[18, 18, 18, 18, 14, 1, 19]

In [38]:
print(lists1)
# lists1.insert(4,'New112323')
# print(lists1)

lists1.insert(25,'new')
print(lists1)

[12, 65, 98, 23, 'New112323', 90, 'abc', 'qwe', True]
[12, 65, 98, 23, 'New112323', 90, 'abc', 'qwe', True, 'new']

In [16]:
print(lists1)

[12, 65, 98, 23, 'New1', 'New1', 'New', 'New', 'New', 'asc', 90, 'abc', 'qwe', True, 'new']

In [39]:
# removing the value

lists1.remove(23)
print(lists1)

[12, 65, 98, 'New112323', 90, 'abc', 'qwe', True, 'new']

In [40]:
lists1.pop(3)

'New112323'

In [41]:
print(lists1)

[12, 65, 98, 90, 'abc', 'qwe', True, 'new']

In [53]:
# extending a list

print(lists)
# print(lists+lists1)
# lists.extend(lists1)
print(lists1)

[18, 18, 18, 18, 14, 1, 19, 12, 65, 98, 90, 'abc', 'qwe', True, 'new']
[12, 65, 98, 90, 'abc', 'qwe', True, 'new']

In [30]:
print(lists)

[12, 12, 12, 12, 12, 15, 18, 12, 65, 98, 23, 90, 'abc', 'qwe', True]

In [54]:
lists.append(lists1)

In [55]:
print(lists)

[18, 18, 18, 18, 14, 1, 19, 12, 65, 98, 90, 'abc', 'qwe', True, 'new', [12, 65, 98, 90, 'abc', 'qwe', True, 'new']]

# Tuples

In [47]:
tuples = (12,32,4,65,86)
print(type(tuples))
print(tuples)

<class 'tuple'>
(12, 32, 4, 65, 86)

In [47]:
tuples.remove(12)

AttributeError: 'tuple' object has no attribute 'remove'

In [51]:
# conversion of lists into tuple and vice-versa
print(tuples)
tuplist = list(tuples)
print(tuplist)
print(type(tuplist))
tuplist = tuple(tuplist)
print(tuplist)
print(type(tuplist))

(12, 32, 4, 65, 86)
[12, 32, 4, 65, 86]
<class 'list'>
(12, 32, 4, 65, 86)
<class 'tuple'>

In [50]:
print(tuple([1,2,3,4,5,6]))

(1, 2, 3, 4, 5, 6)

# Dictionary

In [31]:
dicti = dict()
dicti1 = {'key1':'value1',True:'value2',23:None}
print(dicti1)
print(dicti1[True])
print(dicti1[23])
print(dicti1['key1'])

{'key1': 'value1', True: 'value2', 23: None}
value2
None
value1

In [3]:
print(dicti1.keys())
print(dicti1.values())

dict_keys(['key1', True, 23])
dict_values(['value1', 'value2', 'Value3'])

In [52]:
print(list(dicti1.keys())[list(dicti1.values()).index('value1')])

key1

In [35]:
print(list(dicti1.values()))
print(list(dicti1.values()).index('value1'))
print(list(dicti1.keys())[0])

['value1', 'value2']
0
key1

In [28]:
dicti1['key3'] = None

In [29]:
print(dicti1)

{'key1': 'value1', True: 'value2', 23: 'Value3', 'key3': None}

In [4]:
dict2 = {'key1':[1,2,3,4,5],'key2':(1,2,3,4,5),'key3':{'one':'val'}}

In [5]:
print(dict2)

{'key1': [1, 2, 3, 4, 5], 'key2': (1, 2, 3, 4, 5), 'key3': {'one': 'val'}}

In [7]:
dict2['key1']

[1, 2, 3, 4, 5]

In [8]:
print(dict2['key1'][2])

3

In [10]:
print(dict2['key3']['one'])

val

In [13]:
print(dict2.items())

dict_items([('key1', [1, 2, 3, 4, 5]), ('key2', (1, 2, 3, 4, 5)), ('key3', {'one': 'val'})])

In [16]:
for a in dict2:
    print(a)

key1
key2
key3

In [20]:
for a,b in dict2.items():
    print(a,'-',b)

key1 - [1, 2, 3, 4, 5]
key2 - (1, 2, 3, 4, 5)
key3 - {'one': 'val'}

# Input

In [8]:
print(type(input("ENTER THE VALUE: ")))

ENTER THE VALUE: 123
<class 'str'>

In [24]:
var = eval(input("Enter the values: "))
# var = int(input("Enter the values: "))
print(type(var))
print(var)

Enter the values: 123
<class 'int'>
123

# Input in the list

In [28]:
list4 = list()

In [34]:
list4.append(input("Enter: "))

Enter: ddsfdsds

In [35]:
print(list4)

['12', '32', '43', '54', 'ddsfdsds']

# digits of a number in a list1

In [36]:
print(list('1234')) # convert a number into a list
sums = 0
n = 234
for i in list(str(n)): # getting the sum of the digit of the number
    sums += int(i)
print(sums)
# print(list(input()))
# print(list(1234))

['1', '2', '3', '4']
9

# Conditional Statement

In [17]:
num = eval(input('Enter the number'))
if not num > 24:
    print("Number is greater than 24")
else:
    print("Number is smaller than 24")

Enter the number123
Number is smalled than 24

In [25]:
# else if
if num > 25:
    print('12')
elif num == 23:
    print("Equals")
else:
    print('none')

12

In [56]:
choice = 2
# not ->!
# and -> &&
# or -> ||
if (choice == 0) and (choice == 2):
    pass

# Iteration

In [35]:
# for
print(list(range(0,10,2)))
# print(list(range(3,10)))
for i in range(2,10,3):
    print(i)
    print('-'*30)
#     for j in range(10):
#         pass

[0, 2, 4, 6, 8]
2
------------------------------
5
------------------------------
8
------------------------------

In [39]:
l = [1,2,3,4,5]
# for i in l:
#     print(i)

# for i in range(len(l)):
#     print(l[i])

1
2
3
4
5

In [43]:
# While 

n = 0
while n<10:
#     print(n)
    n += 1 # n = n + 1
    print(n)
#     n++
#     n--

1
2
3
4
5
6
7
8
9
10

# Jump Statement

In [95]:
var = 23
break

SyntaxError: 'break' outside loop (<ipython-input-95-353d426983e2>, line 5)

In [96]:
continue

SyntaxError: 'continue' not properly in loop (<ipython-input-96-6ca52a340915>, line 4)

In [49]:
# Break
var = 5
for i in range(20):
    if i == var:
        print('found')
        break
#         print(i)
    print(i)

# print(i)

0
1
2
3
4
found

In [37]:
# Continue

var  = 5
for i in range(20):
    if not i==var:
        print(i,' in continue')
        continue
        print(i)
    else:
        print('found')
        break
#         print(i)
    print(i+1,' in for')
# print(i)

0  in continue
1  in continue
2  in continue
3  in continue
4  in continue
found

In [54]:
# Pass

a,b,c = 67,45,7
if a > b:
    pass
else:
    print(a)

# Functions

In [43]:
def demo():
    a,b= 4,5
    return a+b
# demo()
print(demo())
def demo(a,b):
    return a+b
print(demo(2,3))
print(demo())
# def demo():
#     a,b= input(),input()
#     return eval(a)+eval(b)
# print(demo())
# def demo():
#     return  eval(input()) + eval(input())
# print(demo())

9
5

TypeError: demo() missing 2 required positional arguments: 'a' and 'b'

# Classes

In [45]:
class demo():
    def demo1():
        num = eval(input())
        num2 = eval(input())
        print(num+ num2)

In [46]:
# create an object
abc = demo()
print(type(abc))

<class '__main__.demo'>

In [47]:
abc.demo1()

TypeError: demo1() takes 0 positional arguments but 1 was given

In [48]:
class demo():
    num = 2
    num2 =4
    def demo1(abc):
        print(abc)
        num = 6
        num2 = 7
        print(num+ num2)
    def demo2(xz):
        print(num + num2)

In [49]:
abc = demo()
abc.demo1()

<__main__.demo object at 0x7f904818fb00>
13

In [50]:
abc.demo2()

NameError: name 'num2' is not defined

In [51]:
class demo():
    num=2
    num2=3
    def demo1(abc,a,v):
#         print(abc)
        num = 6
        num2 = 7
        print(num+ num2)
    def xyz(abc):
        print(abc.num,abc.num2)

In [52]:
obj = demo()
obj.demo1(2,65)
obj.xyz()

13
2 3

In [54]:
class demo():
    num = 2
    num2 = 3
    def demo1(abc1):
#         print(abc)
        abc1.num = 6
        abc1.num2 = 7
        print(abc.num+ abc.num2)
    def xyz(avb):
        print(avb.num+avb.num2)

In [55]:
# creating an object
abc = demo()

In [56]:
abc.demo1()

13

In [57]:
abc.xyz()

13

In [58]:
asd = demo()

In [59]:
asd.xyz()

5

In [61]:
class number():
    def __init__(obj):
        obj.var = input()
        obj.age = int(input())
    def output(obj):
        print('Name is {} and the age is {}'.format(obj.var,obj.age))

In [62]:
abc = number()

fds
21

In [63]:
abc.output()

Name is fds and the age is 21